<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>旺链浏览器</title>
    <link href="source/inspinia/css/bootstrap.min.css" rel="stylesheet">
    <link href="source/inspinia/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="source/inspinia/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="source/inspinia/css/animate.css" rel="stylesheet">
    <link href="source/inspinia/css/style.css" rel="stylesheet">

    <link href="source/grap/vis.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">

        <% include nav_menu.ejs %>
        <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
        <% include nav_head.ejs %>
        </div>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>基础信息</h2>

                </div>
                <div class="col-lg-2">

                </div>
            </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                    <div class="col-lg-3">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                 <h5>账本</h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins">1</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">                                
                                <h5>区块</h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins"><%=blocks1%></h1>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">                                
                                <h5>交易</h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins"><%=trans%></h1>
                              
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">                                
                                <h5>chaincode</h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins">4</h1>
                            </div>
                        </div>
            </div>
        </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>组织关系图</h5>
                            <div class="ibox-tools">
                               <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                             
                            <div class="table-responsive">
                                
                                    <div id="main" style="width: 600px;height:400px;"></div>
                                    
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>节点网络图</h5>
                            <div class="ibox-tools">
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">

                           <div class="table-responsive">
                                
                                    <div id="main1" style="width: 600px;height:400px;"></div>
                                    
                            </div>                        
                        </div>
                    </div>
                </div>
            </div>
            
            
            
        </div>

        <% include nav_foot.ejs %>

        </div>
        </div>



    <!-- Mainly scripts -->
    <script href="source/inspinia/js/jquery-3.1.1.min.js"></script>
    <script href="source/inspinia/js/bootstrap.min.js"></script>
    <script href="source/inspinia/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script href="source/inspinia/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Peity -->
    <script href="source/inspinia/js/plugins/peity/jquery.peity.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script href="source/inspinia/js/inspinia.js"></script>
    
    <script href="source/inspinia/js/plugins/pace/pace.min.js"></script>

    <!-- iCheck -->
    <script href="source/inspinia/js/plugins/iCheck/icheck.min.js"></script>

    <!-- Peity -->
    <script href="source/inspinia/js/demo/peity-demo.js"></script>
    
    
    
    <script src="source/grap/vis.js"></script>
    
    
<script type="text/javascript">
  // create an array with nodes
  var nodes = new vis.DataSet([
    {id: 1, label: 'org 1',color: '#7BE141'},
    {id: 2, label: 'org 2',color: '#7BE141'}
  ]);

  // create an array with edges
  var edges = new vis.DataSet([
    {from: 1, to: 2}
  ]);

  // create a network
  var container = document.getElementById('main');
  var data = {
    nodes: nodes,
    edges: edges
  };
  var options = {};
  var network = new vis.Network(container, data, options);
</script>
    
    
<script type="text/javascript">
  // create an array with nodes
  var nodes1 = new vis.DataSet([
    {id: 1, label: 'peer 1',color: '#7BE141'},
    {id: 2, label: 'peer 2',color: '#7BE141'},
    {id: 3, label: 'peer 3',color: '#7BE141'}

  ]);

  // create an array with edges
  var edges1 = new vis.DataSet([
    {from: 1, to: 3},
    {from: 1, to: 2},
    {from: 2, to: 3}
  ]);

  // create a network
  var container1 = document.getElementById('main1');
  var data1 = {
    nodes: nodes1,
    edges: edges1
  };
  var options1 = {};
  var network1 = new vis.Network(container1, data1, options1);
</script>    
    

</body>

</html>
